*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}
/* HEADER */

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.logo img{
  height: 80px;
  padding-right: 20px;
  border-right: 1px solid black;

}

nav{
  padding: 50px 20px 50px 0;
  margin-bottom: 20px;
}

nav li{
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 10px;
}

nav li a{
  text-decoration: none;
  color: gray;
}

nav li a:hover{
color: black;
}

.banner{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 10px;
}
.banner .banner-text{
  width: 57%;
  height: 100%;
  color: white;
  padding: 25% 3% 5%;
}

.opacity{
  height: 100%;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.3);
  
}
/* /HEADER */

/* MAIN */

main{
  margin-bottom: 10px;
  padding-bottom: 20px;
}

main .title{
  height: 100px;
  background-color:lightseagreen;
  margin-bottom: 20px;
}

.side, .center{
  float: left;
  height: 1000px;
  background-color:lightseagreen;
}

main .side{
  width: 20%; 
}

main .center{
  width: 56%;
  margin: 0 2%;
}
/* /MAIN */

/* FOOTER */

footer{
  background-color: purple;
  height: 100px;
}
/* /FOOTER */