*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}
/* HEADER */

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.logo img{
  height: 80px;
  padding-right: 20px;
  border-right: 1px solid black;
}

nav{
  margin: 50px 0;
}

nav li{
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 10px;
}

nav li a{
  text-decoration: none;
  color: gray;
}

nav li a:hover{
  color: black;
  text-decoration: underline;
}

.banner{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 10px;
}
.banner .banner-text{
  width: 55%;
  height: 100%;
  color: #fff;
  padding: 25% 3% 5%;
}
.banner .banner-text h2{
  font-size: 30px;
}

.opacity{
  height: 100%;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.3);
  
}
/* /HEADER */

/* MAIN */

main{
  margin-bottom: 10px;
  padding-bottom: 20px;
}

main .title{
  margin-bottom: 20px;
}

main .title h1{
  font-size: 40px;
}

main p{
  color: gray;
}

.left-side, .right-side, .center{
  float: left;
}

main .left-side, main .right-side{
  width: 20%; 
}

main .center{
  width: 56%;
  margin: 0 2%;
}

main .box-image{
  height: 250px;
  border-radius: 10px;
}
main .left-side .image-left{
  background-image: url(../img/img-1.jpg);
  background-size:cover;
  background-position:center ;
}

main .center .image-center{
  background-image: url(../img/banner-2.jpg);
  background-size:cover;
  background-position:center ;
}

main .right-side .image-right{
  background-image: url(../img/img-3.jpg);
  background-size:cover;
  background-position:center ;
}
main h3{
  margin: 10px 0;
}
/* /MAIN */

/* FOOTER */

footer{
  padding: 25px 0;
  text-align: center;
}
footer h3::after{
  content: '\2764';
  color: red;
  font-size: 25px;
}
/* /FOOTER */